/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

body {
  background-image: url('http://www.gustavokich.com/img/background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.linear-gradient {
  background-image: linear-gradient(
    to right,
    theme('colors.blue.500'),
    theme('colors.purple.500')
  );
}

.link {
  @apply text-purple-500 transition-colors duration-150;
}

.link:hover {
  @apply text-purple-400;
}

.footer-link {
  @apply pb-1 text-gray-700 transition-colors duration-150;
}

.footer-link:hover {
  @apply text-gray-600;
}

.footer-social-link {
  @apply text-gray-400 transition-colors duration-150;
}

.footer-social-link:hover {
  @apply text-gray-500;
}

.responsive-avatar {
  @apply h-32 w-32 absolute right-0 bottom-0;
  right: -2rem;
}

.responsive-avatar::before {
  content: '';
  display: block;
  width: 2rem;
  height: 128px;
  background-color: white;
  position: absolute;
  right: 0;
  z-index: 1;
}

@screen sm {
  .responsive-avatar {
    right: 0;
  }

  .responsive-avatar::before {
    display: none;
  }
}
